<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ college['school.name'] }} - College Profile</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/styles.css">
    <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap" rel="stylesheet">
</head>
<body>
   <div class="profile">
    <h1 class="h1">{{ college['school.name'] if 'school.name' in college else 'N/A' }} - College Profile</h1>
    <p class="newfont">Location: {{ college['school.city'] if 'school.city' in college else 'N/A' }}, {{ college['school.state'] if 'school.state' in college else 'N/A' }}</p>
    <p class="newfont">In-State Tuition ($Per Year): {{ college['latest.cost.tuition.in_state'] if 'latest.cost.tuition.in_state' in college else 'N/A' }}</p>
    <p class="newfont">Out-of-State Tuition ($Per Year): {{ college['latest.cost.tuition.out_of_state'] if 'latest.cost.tuition.out_of_state' in college else 'N/A' }}</p>
    <p class="newfont">Admission Rate (%): {{ ((college['latest.admissions.admission_rate.overall'] * 100) | int) if 'latest.admissions.admission_rate.overall' in college else 'N/A' }}</p>
    <p class="newfont">Graduation Rate (%): {{ ((college['latest.completion.completion_rate_4yr_150nt_pooled'] * 100) | int) if 'latest.completion.completion_rate_4yr_150nt_pooled' in college else 'N/A' }}</p>
    <p class="newfont">Size (Student Population): {{ college['latest.student.size'] if 'latest.student.size' in college else 'N/A' }}</p>
    <p class="newfont">Average SAT Score: {{ college['latest.admissions.sat_scores.average.overall'] if 'latest.admissions.sat_scores.average.overall' in college else 'N/A' }}</p>
    <p class="newfont">Federal Loan Rate (%): {{ ((college['latest.aid.federal_loan_rate'] * 100) | int) if 'latest.aid.federal_loan_rate' in college else 'N/A' }}</p> 
    {% if college['school.men_only'] %}
    <p>This college is male-only.</p>
    {% elif college['school.women_only'] %}
    <p>This college is female-only.</p>
    {% else %}
    <p>This college is coeducational.</p>
    {% endif %}
    <p>Significant Majors:</p>
    {% for major, percentage in top_majors %}
    <p>{{ major }}: {{ (percentage * 100) | round(2) }}%</p>
    {% endfor %}


    <p>Website: <a href="http://{{ college['latest.school.school_url'] if 'latest.school.school_url' in college else '#' }}" target="_blank">{{ college['latest.school.school_url'] if 'latest.school.school_url' in college else 'N/A' }}</a></p>

    <a href="#" onclick="goBack();">Back to search</a>
    </div>
    <script>
        function goBack() {
            window.history.back();
        }
    </script>
</body>
</html>

