<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>College Hunter</title>
    <link rel="stylesheet" href="/static/styles.css">
    <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
</head>
<body>
    <div class="container">
        <div class ="form-container">
            <div style="position: relative;">
                <img src="/static/logo.png" alt="Logo" style="width: 100%; opacity: 0.8;">
                <h1 style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); color: #141313;">College Hunter</h1>
            </div>
            <form action="/search" method="POST" target="results-frame">
                <div class="input-pair">
                    <label for="min_tuition">Min Tuition per Year ($):</label>
                    <input type="number" id="min_tuition" name="min_tuition" min="0" step="1" value="1">
                    <label for="max_tuition">Max Tuition per Year ($):</label>
                    <input type="number" id="max_tuition" name="max_tuition" min="0" step="1" value="50000">
                </div>
                <div class="input-pair">
                    <label for="min_admission_rate">Min Admission Rate (%):</label>
                    <input type="number" id="min_admission_rate" name="min_admission_rate" min="0" max="100" step="0.01" value="1">
                    <label for="max_admission_rate">Max Admission Rate (%):</label>
                    <input type="number" id="max_admission_rate" name="max_admission_rate" min="0" max="100" step="0.01" value="99">
                </div>
                <div class="input-pair">
                    <label for="min_college_size">Min College Size:</label>
                    <input type="number" id="min_college_size" name="min_college_size" min="0" step="1" value="1">
                    <label for="max_college_size">Max College Size:</label>
                    <input type="number" id="max_college_size" name="max_college_size" min="0" step="1" value="50000">
                </div>
                <div class="input-pair">
                    <label for="placeholder1">Average SAT:</label>
                    <input type="text" id="placeholder1" name="placeholder1">
                    <label for="placeholder2">Federal Loan Percent:</label>
                    <input type="text" id="placeholder2" name="placeholder2">
                </div>
                <div class="input-pair">
                    <label for="placeholder3">Placeholder 3:</label>
                    <input type="text" id="placeholder3" name="placeholder3">
                    <label for="placeholder4">Placeholder 4:</label>
                    <input type="text" id="placeholder4" name="placeholder4">
                </div>
                <input type="submit" value="Search">
            </form>
            </div>
        <div class="iframe-container">
        <!-- <div class="iframe-wrapper"> -->
            <iframe id="results-frame" name="results-frame" frameborder="0" style="width: 100%; height: 100%;"></iframe>
        <!-- </div> -->
        </div>
    </div>
</body>
</html>
