header{
    background-image: url("college.jpg");
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    background-image: url("college.jpg")
}
.topnav {
    background-color: #c4ebdf; 
    overflow: hidden;
  } 
.topnav a {
    float: left;
    color: #080808;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
.topnav a:hover {
    background-color: #c2bbf9;
    color: black;
  }
  
.topnav a.active {
    background-color: #04AA6D;
    color: rgb(0, 0, 0);
  }
.container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    font-size: 13px;
}
.profile {
    display: grid;
    grid-template-columns: 1fr;
    font-size: 13px;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    padding-top: 20px;
    padding-right: 30px;
    padding-bottom: 30px;
    padding-left: 80px;
  }
form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.input-pair {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.5rem;
    flex-wrap: wrap;
}

.input-pair label,
.input-pair input {
    width: 48%;
}

input, select{
    width: 60%;
}
label {
    font-size: 15px; 
}
h1 {
    text-align: center;
    margin-bottom: 1.5rem;
}
tr:nth-child(even) {
    background-color: #f2f2f2;
}

.form-group {
    text-align: left;
}

.form-container {
    width: 50%;
    left: 30px;
    padding: 40px 20px;
    border-radius: 15px;
    background: #e6e47f;
    font-size: 15px;
    font-weight: 500; 
 }
 
.iframe-container {

    width: auto;
    height: auto;
    border: 1px solid #ccc;
    overflow: auto;
    position: relative;
    background-color: #aadeed; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
input[type="submit"] {
    background-color: #3a66cf;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #2c4da1;
}

iframe {
    margin-top: 1rem;
    border: 1px solid #cccccc;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    border-radius: 50%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    position: absolute;
    top: 0;
    font-size: 1.0rem;
    text-align: center;
    width: 10px;
    height: 10px;
  }
/* Facebook */
#facebook-share{
    right: 0px;
}
#twitter-share{
    right: 50px;
}
.fa-facebook {
    background: #3B5998;
    color: white;
  }
  
  /* Twitter */
.fa-twitter {
    background: #55ACEE;
    color: white;
  }
